<div class="container">

  Objeto cliente: {{ cliente | json}}
  Valido: {{ usuarioForm.valid}} <br>
  Touched: {{ nome.touched }} - Se o campo foi tocado <br>
  Pristine: {{ nome.pristine }} - Se o campo esta intacto, nao houve mudanca no seu conteudo <br>
  Dirty: {{ nome.dirty }} - Se o campo esta sujo, se houve mudanca no seu valor <br>

  <div *ngIf="usuarioForm.invalid" class="alert alert-danger">
    Preencha todos os campos do formulario !
  </div>

  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nome: </label>
      <input name="nome" type="text" class="form-control" [(ngModel)]="cliente.nome"
      required minlength="10" #nome="ngModel">

      <div class="" *ngIf="nome.hasError('required') && nome.dirty">Informa um nome.</div>
      <div class="" *ngIf="nome.hasError('minlength') && nome.dirty">O nome deve ter no minimo 10 caracteres</div>
    </div>

    <div class="form-group">
      <label class="form-control-label" [class.has-danger]="email.invalid && email.touched">Email: </label>
      <input name="email" type="text" class="form-control" [(ngModel)]="cliente.email" required email #email="ngModel">

      <div *ngIf="email.hasError('email') && email.dirty">Informa um email.</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select name="profissao" class="form-control" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <option [value]="profissao" *ngFor="let profissao of profissoes">{{profissao}}</option>

      </select>
      <div *ngIf="profissao.invalid && profissao.dirty">Informa uma Profissão.</div>
    </div>

    <button [disabled]="!usuarioForm.valid" type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
